
:root{
  font-size: 62.5%;
  --cor-padrao :  #00E6AB;
  --cor-constraste-1:  hsl(0, 0%, 100%);
  --cor-constraste-2:  hsl(165, 94%, 86%);

}

body{
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 0;
  margin: 0 auto;
}

#App{

  box-sizing: content-box;

  align-items: center;
  text-align: center;

  display: flex;
  flex-direction: column;

  gap: 3.3rem;

  max-width: 60rem;

  width: 100vw;
  height: min-content;

  margin: 0 auto;
  padding: 4.7rem 5.9rem;

  background-color:var(--cor-constraste-1);
}

header{
  align-items: center;

  display: flex;
  flex-direction: column;

}

header img{

  border: 2px solid var(--cor-padrao);

  margin-bottom: 0 auto;
  border-radius: 50%;

  width: 21.2rem;
  height: 21.2rem;

}

.Description{
  align-items: center;

  margin: 0 auto;

}

.Description h1{
  width: 48.2rem;
  height: 4rem;

  border-radius: 2rem;

  padding: 1rem;

  background:var(--cor-padrao);
  color: var(--cor-constraste-1);
  
  font-size: 4.7rem;
  font-weight: 900;

  display: flex;
  place-content: center;

  align-items: center;
}

.Description h3{

  border-radius: 2rem;
  
  margin: 0 auto;
  text-align: center;

  width: 38.5rem;
  height: 2.6rem;

  background:var(--cor-padrao);
  color: var(--cor-constraste-1);

  font-size: 1.8rem;
  font-weight: 500;

  
  display: flex;
  place-content:center;

}

nav{
  width: 50rem;
  height: 15rem;

  margin: 0 auto;

  text-align: center;

}

nav ul{

  margin: 0 auto;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  
  align-items: center;
  padding-inline-start : 0;


}

ul li {
  
  margin-bottom:  1.5rem;
  width: 23.9rem;
  height: 3.9rem;

  border-radius: 2rem;
  
  background-color:var(--cor-padrao);

  align-items: center;
  text-align: center;

  display: flex;
  place-content:center;

  flex-direction: column;

}


#part1, #part2{
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;

  gap: 1.5rem;
  align-items: center;
}
/*

.li{

  text-align: start;
  align-items: center;

  width: 23.9rem;
  height: 3.9rem;

  border-radius: 2rem;

  background-color: #00E6AB;

  display: flex;
  flex-direction: column;
  place-content:center;

}
*/

a{
text-decoration: none;
color: var(--cor-constraste-1);
}

main section a{
  background-color: var(--cor-padrao);
}
main {
  box-sizing: content-box;
  margin: 3.4rem auto;
  width: 60rem;
}

section{
  position: relative;
  display: flex;
  flex-direction: row;
}

main  img{
  position: absolute;
  left: 5rem;
  margin-top: 1.5rem;

  border: 2px solid var(--cor-padrao);
  border-radius: 2rem;
  height: 13rem;
  
  z-index: 2;
}

section a{
  position: absolute;
  left: 25.5rem;
  top: 3.5rem;
  z-index: 0;
  padding: 0.6rem;
  padding-left: 4rem;

  height: 8rem;

  border-radius: 0 2rem 2rem 0;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  text-align: start;
  line-height: 16px;

  color:var(--cor-constraste-1);
}

a h4{
  font-weight: 400;
  font-size: 1.6rem;
}

@media (max-width: 42.6rem){
  #App{
    width: 25rem;
    padding: 0.7rem 0.9rem;
    height: 60rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;

  }

  header{
    width: 20rem;
    text-align: center;
    margin: 0 auto;
  }

  header img{
    margin: 0 auto;
    
    width: 18rem;
    height: 18rem;

    text-align: center;
  }

  .Description{
    align-items: center;
  
    margin: 0 auto;
  
  }
  
  .Description h1{
    width: 18rem;
    height: 8rem;

    border-radius: 2rem;
  
    padding: 1rem;

    font-size: 3rem;

    margin: 1rem auto;
  }
  
  .Description h3{

    width: 18rem;
    height: 4rem;
  
    font-size: 1.6rem;
  }
  
  nav, nav ul{
    width: 20rem;
    box-sizing: border-box;
    text-align: center;
  }

  ul li {

    width: 20rem;
    height: 3.9rem;

    margin: 0.4rem;

    text-align: center;
    
  }

  #part1, #part2{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0.4rem;

    text-align: center;
  }

  main{
    min-width: 20rem;
    max-width: 42.5rem;
    margin: 3.4rem auto;

    text-align: center;

  }

  #block{
    position: absolute;
    top: 9rem;
    left: -3.5rem;
    margin: 0 auto;
    width: 20rem;
    height: 20rem;

    text-align: center;
  }

  
  main  img{
    position: relative;
    left: 2rem;
    height: 8rem; /* de 13 virou 8*/
  }
  section a{
    position: absolute;
    left: 17rem;
    top: 1.5rem;
    z-index: 0;
    padding: 0.2rem;
    padding-left: 3rem;
  
    height: 8rem;
    width: 8rem;
  
    border-radius: 0 2rem 2rem 0;
  
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    text-align: start;
    line-height: 12px;
  
    color:var(--cor-constraste-1);
  }

  a h4{
    font-weight: 400;
    font-size: 1rem;
  }
}