
:root{
  font-size: 62.5%;

}

body{
  font-size: 1.6rem;
  margin-top: 0;
}


#App{

  box-sizing: content-box;

  align-items: center;
  text-align: center;

  display: flex;
  flex-direction: column;

  gap: 3.3rem;

  height: 100vh;
  width: 60rem;

  margin: 0 auto;
  padding: 4.7rem 5.9rem;


  background: hsl(0, 100%, 12%);
}

header{
  align-items: center;

  display: flex;
  flex-direction: column;

}

header img{

  margin-bottom: 0 aut;
  border-radius: 50%;

  width: 21.2rem;
  height: 21.2rem;

}

.Description{
  align-items: center;

  margin: 0 auto;

}

.Description h1{
  width: 48.2rem;
  height: 4rem;

  padding: 0;
  background: red;
  
  font-size: 4.7rem;
  font-weight: 900;

  display: flex;
  place-content: center;

  align-items: center;
}

.Description h3{

  margin: 0 auto;

  width: 38.5rem;
  height: 2.6rem;

  background: red;

  font-size: 1.8rem;
  font-weight: 500;

  
  display: flex;
  place-content:center;

}

nav{
  width: 50rem;
  height: 15rem;

  margin: 0 auto;
}

nav ul{

  margin-top: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  
  align-items: center;

}

ul li {
  
  margin-bottom:  1.5rem;
  width: 23.9rem;
  height: 3.9rem;

  border-radius: 2rem;
  
  background: green;

  align-items: center;
  text-align: center;

  display: flex;
  place-content:center;

  flex-direction: column;

}


#part1, #part2{
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;

  gap: 1.5rem;
  align-items: center;
}

.li{

  text-align: center;
  align-items: center;

  width: 23.9rem;
  height: 3.9rem;

  border-radius: 2rem;

  background: yellow;

  display: flex;
  place-content:center;
}

main {
  max-width: 60rem;
  margin: 3.4rem auto;
}

section{
  position: relative;
  display: flex;
  flex-direction: row;
}

main  img{
  position: absolute;
  margin-top: 1.5rem;

  border-radius: 4rem;
  height: 18.9rem;
  
  position: absolute;
  z-index: 1;
}

main a{
  position: absolute;
  right: -18rem;
  top: 4rem;
  z-index: 0;
  padding: 1.5rem;
  padding-left: 4rem;

  border-radius: 0 20rem 20rem 0;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  text-align: start;
  line-height: 16px;

  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 54%);

}

a h4{
  font-weight: 400;
  font-size: 1.6rem;
}