:root{
  font-size: 62.5%;

  --cor-padrao :  #00E6AB;
  --cor-constraste-1:  hsl(0, 0%, 100%);
  --cor-constraste-2:  hsl(165, 94%, 86%);
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-size: 1.6rem;
  
}
main , header , section, body{
  margin-top: 0;
  font-weight: 900;
}

body{
  padding: 0;
}

#App{
  display: flex;
  flex-direction: column;

  gap: 3.3rem;

  max-width: 60rem;
  width: 100vw;
  height:895rem;

  margin: 0 auto;
  padding: 4.7rem 5.9rem;
  padding-top: 0;
}

#App header{
  color: var(--cor-constraste-1);
  background-color: var(--cor-padrao) ;

  display: flex;
  flex-direction: row;

  text-align: start;
  align-items: center;

  border-radius: 0 0 10rem 10rem;

  margin-bottom: 0;
  margin-top: 0;
}

#App header a{
  padding: 1rem;
  width: 8rem;

  margin-left: 1rem;
  color: var(--cor-constraste-1);
  background-color: var(--cor-padrao);

  border-radius: 2rem ;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;

  display: flex;
  justify-content: center;
}

#App header > a > i{
  background-color: var(--cor-constraste-1);
  color: var(--cor-padrao);
  padding: 1rem;

  border-radius: 1.5rem ;
  width: 8rem;

  font-size: 2.4rem;


}

header a{
  padding: 1rem;
  width: 8rem;

  margin-left: 1rem;
  background-color: var(--cor-constraste-1);
  color: var(--cor-padrao);

  border-radius: 2rem ;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
}

#App header{
  align-items: center;

  display: flex;
  flex-direction: column;

  margin-bottom: -3rem;
}

header img{
  background-color: var(--cor-constraste-1);
  color: var(--cor-constraste-1);
  border: 2px solid var(--cor-padrao);

  margin-bottom: 0 auto;
  border-radius: 50%;

  width: 21.2rem;
  height: 21.2rem;

}

#header_links{
  color: red;
}

a{
 text-decoration: none;
 color: var(--cor-constraste-1);
}

main {
  box-sizing: content-box;
  margin: 0 auto;
  width: 60rem;
}

section{
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;

  height: 100vh;

}

#p1{
  margin-top: -5rem;
}

main  img{
  position: absolute;
  left: 5rem;

  border: 2px solid var(--cor-padrao);
  border-radius: 2rem;
  height: 20rem;
  
  z-index: 2;
}

section > a{
  position: absolute;

  top: 46rem;
  left: 1.8rem;

  margin-left: 6rem;
  margin-bottom: -20rem;
  
  z-index: 0;
  padding: 2rem;

  padding-top: 3rem;
  padding-left: 4rem;
  padding-bottom: 0;
  height: 24rem;
  width: 30rem;

  border-radius: 2rem;  

  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  text-align: start;
  line-height: 16px;

  background-color: var(--cor-padrao);

  color:var(--cor-constraste-1);
}



a h4{
  font-weight: 400;
  font-size: 1.6rem;
}

a #TechUsed{
  display: flex;
  gap: 8rem;
}
ul{
  background-color: var(--cor-padrao);

  padding: 0.3rem 1rem;

  height: 2rem;
  width: 63.5rem;

  border-radius: 4rem;

  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav{
  position: sticky;
  top: 0.1rem;

  margin: 0rem;
  background-color:var(--cor-padrao);
  width: 48.2rem; 
  padding: 0.8rem;
  overflow-x: hidden;
  overflow-x: scroll;

  border-radius: 4rem;

  z-index: 4;
  
}
ul li{
  list-style: none;
}

li a {

  padding: 1rem;

  background-color: var(--cor-constraste-1);
  color: var(--cor-padrao);

  border-radius: 1.5rem;
}