:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color:#ffffff;
  --color1:#000000;
  --bgcolor1: #1DC7FA;

  --cor-constraste-1:  hsl(0, 0%, 100%);
  --cor-constraste-2:  hsl(165, 94%, 86%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
  margin: 0px;
  padding: 0px;
  font-size: 1.6rem;
}

.App{
  margin: 0px 20px;
}

header{
  background-color: var(--color);

  

  margin: 0px;
  padding: 0px;
}

header ul{
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  color: var(--color);
  background-color: var(--bgcolor1);

  border-radius: 50px;
}

header ul li{
  list-style: none;
  padding: 20px 40px;
  font-size: 30px;
}

header ul li:hover{
  color: var(--color1) ;
}



main .Home{
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .Home .hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width:45%;

  margin: 0px auto;

}

.hero h1{
  font-size: 48px;
  line-height: 48px;
}
.hero h3{
  font-size: 30px;
}

.hero h1, .hero h3{
  margin: 0px;
  padding: 0px;

  color: var(--bgcolor1);
}

main .Home .hero button{
  
}

.hero button{
  font-size: 26px;
  font-weight: 700;

  margin-top: 0.8rem;
  padding: 15px 20px;

  border: 0px;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  place-items: center;

  color: var(--color);
  background-color: var(--bgcolor1);
}

.hero button a{
  text-decoration: none;
  color: var(--color);
}

.hero button:hover{

  color: var(--color1);
  font-weight: 700;
}

main .sobre h1,
main .carreira h1,
main .formacao h1,
main .cursos h1,
main .projetos h1{
  border-radius: 50px;
  box-sizing: content-box;

  font-size: 30px;

  padding: 0px 40px;
  margin: 10px auto ;

  text-align: center;

  color: var(--color);
  background-color: var(--bgcolor1);
}


/*--------------------------------------------- styles do componente Sobre -------------------------------*/
main .sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
}

main .sobre h2{
 
  border-radius: 50px;
  box-sizing: content-box;

  padding: 5px;
  margin: 10px 35% ;
  color: var(--color);
  background-color: var(--bgcolor1);

  font-size: 32px;

  margin-top: 100px;
}

/*
main .sobre p{
  font-size: 25px;
  border: 5px solid var(--bgcolor1);
  border-radius: 50px;
  color: var(--bgcolor1);
  padding: 30px;

}
*/

main .sobre p{
  font-size: 20px;
  border-radius: 50px;
  color: var(--color);
  background-color: var(--bgcolor1);
  padding: 30px;

}

main .sobre #skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}

main .sobre #skills #section{
  height: fit-content;
  padding: 15px;
}

main .sobre #skills #section #title_skill #border{
  padding: 5px;
  height: fit-content;
}

main .sobre #skills #section #title_skill #border #textoSHORT{
  padding: 0px;
  height: fit-content;
}

main .sobre .socialMIDIA{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*------------------------------------------------------ styles do componente Carreira -------------------------------------*/
main .carreira{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}



main .carreira section{

  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;

  gap: 3.3rem;

  color: var(--color);
}

main .carreira section article{
  background-color: var(--bgcolor1);
  z-index: 0;
  padding: 2.7rem;

  border-radius: 4rem;
}

main .carreira section img{
  z-index: 1;

  border: 4px solid var(--bgcolor1);
  border-radius: 4rem;

  width: 17.6rem;
  width: 17.6rem;

  margin-bottom: -6rem;
}

main .carreira section article h5{
  width: 32.6rem;
  margin: 0 auto;
}

main .carreira section article p, 
main .carreira section article h3 , 
main .carreira section article h5{
  background-color: var(--color) ;
  color: var(--bgcolor1);
  border-radius: 2rem;
  padding: 4px;
} 


main .carreira section article p{
  padding: 2rem;
  border-radius: 2rem;
  text-align:start;
}


/*-------------------------------------------------- styles do componente formacao ------------------------------------*/

main .formacao{
  display: flex;
  flex-direction: column;

  text-align: center;

  gap: 3.3rem;
}

main .formacao section{
  margin-top: 12rem;
  display: flex;
  flex-direction: column;

  background-color: var(--bgcolor1);
  color: var(--color);

  border-radius: 2rem;
  padding: 2rem;
}

main .formacao section img{
  width: 15rem;
  height: 15rem;

  margin: 0 auto;

  border-radius: 4rem;
  border: 2px solid var(--bgcolor1);

  margin-top: -13rem;
}

/*-------------------------------------------------- styles do componente cursos ------------------------------------*/

main .cursos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .cursos #sessao{
  border-radius: 50px;
  box-sizing: content-box;

  padding: 25px;
  margin: 3rem auto ;

  font-size: 3rem;

  text-align: center;

  border: 5px solid var(--bgcolor1);

  color: var(--bgcolor1);
}

main .cursos .varios{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
main .cursos section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

main .cursos section h2:not(#h2){
  color: var(--color);
  background-color: var(--bgcolor1);

  border-radius: 2rem;

  padding: 1rem;
}

main .cursos section #h2{
  border: 5px solid var(--bgcolor1);
}


main .cursos section #h2{
  width: 8rem;
  margin-bottom: -1.8rem;
}

main .cursos section p{
  margin-top: -1.8rem;
  margin-bottom: 0.5rem;
}

main .cursos section p, main .cursos section #h2{
  padding: 1rem;
  text-align: center;

  color:  var(--bgcolor1);
  background-color:  var(--color);

  border: 2px solid var(--bgcolor1);

  border-radius: 2rem;
}

main .cursos{
  display: flex;
  flex-direction: column;

  gap: 3.3rem;

}

main .cursos .varios a{
  text-decoration: none;
  padding: 5px;
  color: var(--color);
  background-color: var(--bgcolor1);
  border-radius: 20px;
  box-sizing: content-box;
  width: fit-content;

  margin-top: 0px auto;
}

/*-------------------------------------------------- styles do componente projetos ------------------------------------*/

main .projetos{
  display: flex;
  flex-direction: column;
}



main .projetos #sessao{
  border-radius: 50px;
  box-sizing: content-box;

  padding: 10px 35px;
  margin: 3rem auto ;
  margin-bottom: -4rem;

  font-size: 3rem;

  text-align: center;

  border: 5px solid var(--bgcolor1);

  color: var(--bgcolor1);
}

main .projetos .todos{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem ;

  margin: 0px 10px;
  padding: 0px;
}

main .projetos .todos section{
  margin-top: 0rem;
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items:center;
  text-align: center;
  place-items: center;

  height: 35rem;

  margin: 0px;

}

main .projetos .todos section a{
  text-decoration: none;
  color: var(--color1);
 }

main .projetos .todos section > a{
  position: relative;
  top: 0px;
  left: 0px; 
  margin-bottom: -20rem;
  
  z-index: 0;
  padding: 2rem;

  padding: 3rem 2rem 1rem;
  height: fit-content; /* 24rem*/
  width: fit-content;/* 34rem*/
  max-width: 42rem;
  min-width: 29.7rem;

  border-radius: 2rem;  

  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 16px;

  background-color: var(--bgcolor1);

  color:var(--color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

main .projetos .todos section a h4{
  font-weight: 400;
  font-size: 1.6rem;
}

main .projetos .todos section a #TechUsed{

  max-width: 41rem;
  flex-wrap: wrap;
/*  width: 100%;*/
  height: fit-content;
  box-sizing: content-box;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main .projetos .todos section a #TechUsed img{
  display: block;
  width: 40px;
  height: 45px;
}

main .projetos .todos section  img:not(main .projetos .todos section a #TechUsed img){
  position: absolute;
  top: -12rem;


  margin: 0 auto;
  height: 14rem;

  z-index: 2;

  border: 2px solid var(--bgcolor1);
  border-radius: 2rem;
}

/*
 main .projetos .todos{
  box-sizing: content-box;
  margin: 0 auto;
  width: 60rem;
}


*/


























@media (max-width: 1060px){
  header ul li{
    padding: 20px 10px;
  }

  main .Home .hero{
    gap: 1rem;
  }

  main .Home .hero h1{
    font-size: 36px;
  }

  main .Home .hero h3{
    font-size: 24px;
  }

  main .Home .hero button{
    padding: 10px 14px;
  }

  main .Home .hero button a{
    font-size: 22px;
  }
  main .sobre h1, main .carreira h1, main .formacao h1, main .cursos h1, main .projetos h1{
    margin: 10px auto ;
    padding: 0px 40px;
    box-sizing: content-box;
  }

  main .cursos #sessao{
    padding: 20px;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

}

@media (max-width: 890px){
  header ul{
    flex-wrap: wrap;
  }

  header ul li{
    font-size: 24px;
    padding: 15px 5px;
  }

  main .sobre h1,
  main .carreira h1,
  main .formacao h1,
  main .cursos h1,
  main .projetos h1{
    font-size: 24px;
  }

  main .Home .hero{
    gap: 0.5rem;
  }

  main .Home .hero h1{
    font-size: 34px;
    line-height: 34px;
  }

  main .Home .hero h3{
    font-size: 20px;
  }

  main .Home .hero button{
    padding: 6px 10px;
    margin: 0px;
  }

  main .Home .hero button a{
    font-size: 16px;
  }

  main .sobre h1, main .carreira h1, main .formacao h1, main .cursos h1, main .projetos h1{
    margin: 10px auto ;
    padding: 0px 40px;
    box-sizing: content-box;
  }

  main .sobre p{
    font-size: 16px;
    line-height: 20px;
    padding: 22px;
  }

  main .sobre h2{
    font-size: 26px;
    line-height: 26px;
    margin: 10px auto;
    padding: 5px 30px;
  }

  main .cursos #sessao{
    padding: 15px;
    font-size: 2rem;
    line-height: 2rem;
  }
}


@media (max-width: 660px){
  header ul{
    flex-direction: row;
  }
  header ul li{
    font-size: 20px;
    padding: 12px 3px;
  }

  main .sobre h1,
  main .carreira h1,
  main .formacao h1,
  main .cursos h1,
  main .projetos h1{
    font-size: 20px;
  }

  main .Home .hero{
    gap: 0.3rem;
  }

  main .Home .hero h1{
    font-size: 28px;
    line-height: 28px;
  }

  main .Home .hero h3{
    font-size: 16px;
  }

  main .Home .hero button{
    padding: 6px 10px;
    margin: 0px;
  }

  main .Home .hero button a{
    font-size: 14px;
  }


  main .sobre h2{
    font-size: 20px;
    line-break: 20px;
  }

  main .sobre #skills #section #title_skill{
    padding: 10px;
    height: 47px;
  }

  main .sobre #skills #section #title_skill #border{
    padding: 5px;
    height: 25px;
    left: 2rem;
  }

  main .sobre #skills #section #title_skill #border #textoSHORT{
    margin: 0px;
    padding: 0px;
  }

  main .cursos #sessao{
    padding: 10px;
    font-size: 2rem;
    line-height: 2rem;
  }

  main .projetos #sessao{
    font-size: 28px;
    line-height: 28px;
    padding: 10px 20px;
  }

}

@media (max-width: 550px){

  header ul li{
    padding: 12px 40px;
  }

  main .Home .hero{
    gap: 0.5rem;
  }
  main .Home .hero h1{
    font-size: 24px;
  }
  main .Home .hero h1{
    font-size: 24px;
    line-height: 24px;
  }

  main .Home .hero h3{
    font-size: 14px ;
  }

  main .sobre #skills #section #title_skill #border #textoSHORT{
    font-size: 16px;
    line-height: 16px;
    height: fit-content;
    box-sizing: content-box;

    margin: 0px 3px;
  }

  main .projetos #sessao{
    font-size: 22px;
    line-height: 22px;
    padding: 5px 10px;
  }



}

/*--------- carreira ja feito 42.5rem*/

@media (max-width: 425px){
  header ul{
    flex-direction: column;
  }

  main .Home{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    box-sizing:content-box;
  }

  main{
    margin-top: 50px;
  }

  main .Home .hero{
    gap: 3rem;
    width: 80%;
    margin: 0px ;
    
  }

  main .sobre .socialMIDIA article h3{
    font-size: 16px;
    line-height: 16px;
  }
 
  main .carreira section{
    gap: 2.3rem;
  }

  main .carreira section{
    margin-top: 2.3rem;
  }

  main .carreira section img{
    z-index: 1;

    border: 2px solid var(--bgcolor1);
    border-radius: 4rem;

    width: 10.6rem;
    width: 10.6rem;  /* diminui 7 rem*/

    margin-bottom: -6rem;
  }

  main .carreira section article h5{
    width: 100%;

  }

  main .formacao section img{
    width: 10rem;
    height: 10rem;

    margin: 0 auto;

  }

  main .formacao{
    gap: 2.3rem;
  }

  main .formacao section{
    margin-top: 2.3rem;
    display: flex;
    flex-direction: column;
  
    border-radius: 2rem;
    padding: 2rem;
  }

  main .projetos .todos   section {
    position: relative;

    width: 28rem;
    height: 100vh;

    margin: 0px 5%;

  }

  main .projetos .todos section{
    height: 60vh;
  }
}

@media (max-width: 376px){
  main .projetos .todos section a{
    padding: 30px 5px 0px;
  }
}
